{% extends "templates/base.twig" %}

{% block content %}
<div class="profile box">
    <div id="pageTitle">
       <h1>{{ title }}</h1>
    </div>

    <div id="pageContent">
        {% include 'templates/other/notify.twig' %}
    </div>
</div>
{% endblock %}