<div class="row">
    <aside class="menu-left col-md-3 col-sm-4 col-xs-12">
        <div id="menu-left" class="box">
            {% include 'templates/other/menu-left.twig' %}
        </div>
    </aside>
        
    <section class="right-content col-md-9 col-sm-8 col-xs-12">