<form class="search-form hidden-xs" action="{{ constant("CMS_URL") }}/search.html" method="get">
    <div class="input-group">
        <input type="text" class="form-control" name="keyword" {% if parameter("keyword") %}value="{{ parameter("keyword") }}"{% else %}placeholder="{{ lang.s_keyword }}"{% endif %}>
        <span class="input-group-btn">
            <button type="submit" class="btn"> <i class="mdi mdi-magnify"></i> </button>
        </span>
    </div>
</form> 
