<div aria-hidden="true" aria-labelledby="myModalLabel3" role="dialog" tabindex="-1" class="modal fade" id="confirm-delete" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                <h4 class="modal-title">Confirm Header</h4>
            </div>
            <div class="modal-body">
                <p> {{ lang.confirm }} </p>
            </div>
            <div class="modal-footer">
                <button aria-hidden="true" data-dismiss="modal" class="btn default">{{ lang.close }}</button>
                <button class="btn blue btn-ok" data-dismiss="modal">{{ lang.yes }}</button>
            </div>
        </div>
    </div>
</div>