<div id="pageTitle" style="max-width: 800px;min-width: 770px;">
   <h1>{{ entity.title }}</h1>
</div>

<div id="pageContent" style="max-width: 800px;min-width: 770px;min-height: 300px;">
   {{ entity.content|raw }}
</div>